* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Poppins", sans-serif; */
  display: grid;
  /* color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255); */
  max-width: 100rem;
  margin: 0 auto;
}

.carousel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.carousel .carousel-inner .carousel-item img {
  width: 10%;
  height: 10%;
  /* object-fit: cover; */
}
